<h1>BME280</h1>

<div class="row">
  <div class="column">
    <div class="chart-container"><canvas id="temperature-rt"></canvas></div>
  </div>
  <div class="column">
    <div class="chart-container"><canvas id="pressure-rt"></canvas></div>
  </div>
  <div class="column">
    <div class="chart-container"><canvas id="humidity-rt"></canvas></div>
  </div>
</div>